{% extends "::base.html.twig" %}

{% block title %}
    Git Repository
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cypressgitelephantdemo/css/bootstrap.min.css') }}">
    {#{% stylesheets filter="compass, ?yui_css" output="/css/screen.css"#}
        {#"@CypressGitElephantDemoBundle/Resources/compass/sass/screen.scss" %}#}
        {#<link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    {% stylesheets filter="?yui_css" output="/css/screen.css"
        "@CypressGitElephantDemoBundle/Resources/public/css/bootstrap.min.css"
        "@CypressGitElephantDemoBundle/Resources/public/css/screen.css" %}
        <link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cypressgitelephantdemo/js/jquery-1.7.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cypressgitelephantdemo/js/bootstrap/bootstrap-dropdown.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('ul.tabs').dropdown();
        })
    </script>
{% endblock %}

{% block body %}
    <section class="repository">
        {% if repository_name is defined %}
            {% set repository = repositories.get(repository_name) %}
        {% endif %}
        {% block content %}{% endblock %}
    </section>
{% endblock %}