{% extends "::base.html.twig" %}

{% block title %}
    Git Repository
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cypressgitelephantdemo/css/bootstrap.min.css') }}">
    {% stylesheets filter="compass, ?yui_css" output="/css/screen.css"
        "@CypressGitElephantDemoBundle/Resources/compass/sass/screen.scss" %}
        <link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/styles/shCore.css') }}" />
    <link rel="stylesheet" media="screen, projection" type="text/css" href="{{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/styles/shThemeDefault.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cypressgitelephantdemo/js/jquery-1.7.min.js') }}"></script>
    {% javascripts filter="coffee" output="/js/scripts.js"
         "@CypressGitElephantDemoBundle/Resources/coffee/global.coffee" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shCore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shAutoloader.js') }}"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        SyntaxHighlighter.defaults['auto-links'] = false;
        SyntaxHighlighter.autoloader(
            'applescript            {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushAppleScript.js') }}',
            'actionscript3 as3      {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushAS3.js') }}',
            'bash shell             {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushBash.js') }}',
            'coldfusion cf          {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushColdFusion.js') }}',
            'cpp c                  {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushCpp.js') }}',
            'c# c-sharp csharp      {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushCSharp.js') }}',
            'css                    {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushCss.js') }}',
            'delphi pascal          {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushDelphi.js') }}',
            'diff patch pas         {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushDiff.js') }}',
            'erl erlang             {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushErlang.js') }}',
            'groovy                 {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushGroovy.js') }}',
            'java                   {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushJava.js') }}',
            'jfx javafx             {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushJavaFX.js') }}',
            'js jscript javascript json  {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushJScript.js') }}',
            'perl pl                {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushPerl.js') }}',
            'php                    {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushPhp.js') }}',
            'text plain txt         {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushPlain.js') }}',
            'py python              {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushPython.js') }}',
            'ruby rails ror rb      {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushRuby.js') }}',
            'sass scss              {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushSass.js') }}',
            'scala                  {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushScala.js') }}',
            'sql                    {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushSql.js') }}',
            'vb vbnet               {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushVb.js') }}',
            'xml xhtml xslt html    {{ asset('bundles/cypressgitelephantdemo/js/syntaxhighlighter/scripts/shBrushXml.js') }}'
        );
        SyntaxHighlighter.all();
    })
    </script>
{% endblock %}

{% block body %}
    <section class="repository">
        <h1><a href="{{ path('repository_root') }}">Git Repository</a></h1>
        <nav>
            {% block navigation %}{% endblock %}
        </nav>
        {% block content %}
            <section class="commit">
                <a href="{{ path('repository_commit', { 'ref': reference.sha }) }}">{{ reference.sha }}</a>
            </section>
        {% endblock %}
    </section>
{% endblock %}