{% set selected = selected is defined ? selected : null %}
<ul class="tabs" data-dropdown="dropdown">
    <li{{ selected == 'code' ? ' class="active"' : '' }}><a href="{{ path('repository_root') }}">Code</a></li>
    <li{{ selected == 'commits' ? ' class="active"' : '' }}><a href="{{ path('repository_commits') }}">Commits</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">Tags <span class="label">{{ repository.tags|length }}</span></a>
        <ul class="dropdown-menu">
        {% for tag in repository.tags|reverse %}
            <li>
                <a class="{{ tag == reference ? ' active' : '' }}"
                    href="{{ path('repository_tree', { 'reference': tag.name }) }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">Branches <span class="label">{{ repository.branches|length }}</span></a>
        <ul class="dropdown-menu">
        {% for branch in repository.branches %}
            <li>
                <a href="{{ path('repository_tree', { 'reference': branch.name }) }}">{{ branch.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>