<section class="tree">
    <table class="tree bordered-table zebra-striped">
        <thead>
            <tr>
                <th>Browsing <span class="label notice">{{ reference.name }}</span></th>
            </tr>
        </thead>
        {% set odd = true %}
        {% if not tree.root and not tree.blob %}
            {% set odd = false %}
            {% set first_row = true %}
            <tr>
                <td class="odd" colspan="2">
                    <a class="icon tree" href="{{ path(subtreeRoute, {'reference': reference.name ~ '/' ~ tree.parent, 'repository_name': repository_name }) }}">&hellip;</a>
                </td>
            </tr>
        {% endif %}
        {% for node in tree %}
            <tr class="{{ odd ? 'odd' : 'even' }}">
            {% if node.tree %}
                {% set full_path = path ~ (tree.isRoot ? '' : '/') ~ node.name %}
                <td>
                    <a class="icon tree" href="{{ path(subtreeRoute, {'reference': reference.name ~ '/' ~ full_path, 'repository_name': repository_name}) }}">
                        {{ node.name }}
                    </a>
                </td>
                <td>
                    <a class="commit" href="{{ path('repository_commit', { 'sha': repository.getTreeObjectLog(node, reference).last.sha, 'repository_name': repository_name }) }}">
                        {% include "CypressGitElephantDemoBundle:Repository:_commit_label.html.twig" %}
                    </a>
                </td>
            {% elseif node.link %}
                <td class="{{ odd ? 'odd' : 'even' }}" colspan="2">
                    <a class="icon link" href="#">{{ node.name }} ({{ node.sha }})</a>
                </td>
            {% else %}
                {% set full_path = path ~ (tree.isRoot ? '' : '/') ~ node.name %}
                <td>
                    <a class="icon blob" href="{{ path(subtreeRoute, {'reference': reference.name ~ '/' ~ full_path, 'repository_name': repository_name }) }}">
                        {{ node.name }}
                    </a>
                </td>
                <td>
                    <a class="commit" href="{{ path('repository_commit', { 'sha': repository.getTreeObjectLog(node, reference).last.sha, 'repository_name': repository_name }) }}">
                        {% include "CypressGitElephantDemoBundle:Repository:_commit_label.html.twig" %}
                    </a>
                </td>
            {% endif %}
            {% set odd = not odd %}
        {% else %}
            {% if tree.blob %}
                <td class="content">
                    <pre class="prettyprint">
                        {{- repository.outputContent(tree.blob, reference)|glue_lines -}}
                    </pre>
                </td>
            {% else %}
                <td class="empty">Empty repository</td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
</section>