{% extends "CypressGitElephantDemoBundle::base.html.twig" %}

{% block content %}
    {{ parent() }}
    {% include "CypressGitElephantDemoBundle:Repository:_tabs.html.twig" with {'selected': 'commits'} %}
    <h2>Repository <a href="{{ path('repository_root', { 'repository_name': repository.name }) }}">{{ repository.name }}</a></h2>
    <table class="tree bordered-table zebra-striped">
        {% for commit in pagerfanta.getCurrentPageResults %}
        <tr>
            <td>
                <h2>
                    <a href="{{ path('repository_commit', { 'sha': commit, 'repository_name': repository_name }) }}">{{ commit.message }}</a>
                </h2>
                <span class="label">{{ commit }}</span>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include "CypressGitElephantDemoBundle:Commit:_pagination.html.twig" %}
{% endblock %}